In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error,mean_squared_error
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
dataset=pd.read_csv('student_scores.csv')
print(dataset.head())
print(dataset.tail())

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
    Hours  Scores
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 532.0 bytes
None

In [ ]:
x=dataset.iloc[:,:-1].values
print(x)

[[2.5]
 [5.1]
 [3.2]
 [8.5]
 [3.5]
 [1.5]
 [9.2]
 [5.5]
 [8.3]
 [2.7]
 [7.7]
 [5.9]
 [4.5]
 [3.3]
 [1.1]
 [8.9]
 [2.5]
 [1.9]
 [6.1]
 [7.4]
 [2.7]
 [4.8]
 [3.8]
 [6.9]
 [7.8]]

In [ ]:
y=dataset.iloc[:,-1].values
print(y)

[21 47 27 75 30 20 88 60 81 25 85 62 41 42 17 95 30 24 67 69 30 54 35 76
 86]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y ,test_size=0.2,random_state=0)
print(x_test)
print(x_test.shape,"\n\n")

print(y_test)
print(y_test.shape)

[[1.5]
 [3.2]
 [7.4]
 [2.5]
 [5.9]]
(5, 1)


[20 27 69 30 62]
(5,)

In [ ]:
print(x_train)
print(x_train.shape,"\n\n")

print(x_train)
print(x_train.shape)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)
y_pred=regressor.predict(x_test)
print(y_pred)
print(y_test)

[16.88414476 33.73226078 75.357018   26.79480124 60.49103328]
[20 27 69 30 62]

In [ ]:
mse=mean_squared_error(y_test,y_pred)
print("MSE  = ",mse)
mae=mean_absolute_error(y_test,y_pred)
print("MAE  = ",mae)
rmse=np.sqrt(mse)
print("RMSE = ",rmse)

MSE  =  21.598769307217456
MAE  =  4.183859899002982
RMSE =  4.647447612100373